<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="cdc.go.mapper.CovidMapper">

	<select id = "listAll" resultType="DomesticVO">
		<![CDATA[
			SELECT today, total, infect_total, infected, released, dead, checked, negative FROM corona19.tbl_domestic WHERE total >=0 ORDER BY today desc;
		]]>
	</select>

</mapper>